.cars-container {
    text-align: center;
    padding: 1.25rem;
}

.main-heading {
    margin-bottom: 1.875rem;
}

.cars-sections {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

.new-cars,
.old-cars {
    width: 48%;
}